:root {
    --magenta: #f5008a;
    --yellow: #fff4b0;
    --pale-pink: #f5d9d5;
    --baby-blue: #d6f1fa;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--pale-pink);
  }
  
  /* NAVBAR */
  #mainNav {
    background-color: var(--yellow);
    padding: 1rem 2rem;
  }
  
  #mainNav .navbar-brand {
    font-family: 'Barrio', cursive;
    color: var(--magenta);
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  #mainNav .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  
  #mainNav .nav-link:hover {
    text-decoration: underline wavy var(--magenta);
  }
  
  /* HERO */
  #hero {
    margin-top: 5rem;
    min-height: 100vh;
    align-items: stretch;
  }
  
  #hero > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    background-color: var(--pale-pink);
    text-align: center;
    padding: 3rem;
  }
  
  .hero-text h1 {
    font-weight: 200;
    font-size: 2.75rem;
    white-space: nowrap;
    text-transform: uppercase;
  }
  
  
  .hero-text span {
    color: var(--magenta);
  }
  
  .hero-img {
    background-color: var(--baby-blue);
  }
  
  
  /* SECTIONS */
  section {
    min-height: 100vh;
  }
  
  .section-text {
    background-color: var(--pale-pink);
    text-align: center;
    padding: 4rem;
  }
  
  .section-text h2 {
    color: var(--magenta);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .section-text p {
    font-weight: 200;
    line-height: 2;
    max-width: 500px;
  }
  
  /* ICON */
  .icon {
    width: 100px;
    margin: 1.5rem 0;
  }
  
  /* FOOTER */
  footer {
    background-color: var(--yellow);
  }
  
  footer h3 {
    font-weight: 300;
    letter-spacing: 3px;
  }
  
  footer a {
    color: var(--magenta);
    font-size: 1.8rem;
    margin: 0 12px;
  }
  
  /* RESPONSIVE */
  @media (max-width: 992px) {
    .hero-text {
      width: 100%;
      margin-left: 0;
    }
  
    .hero-text h1 {
      font-size: 3rem;
    }
  }
  